<%= content_for(:og_description, strip_tags(@note.html)) %>
<%= content_for(:og_type, "article") %>
<%= content_for(:og_url, post_url(@note.id)) %>

<article class="py-10 sm:py-12">
  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <div class="prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
          <%= @note.html.html_safe %>
        </div>

        <div class="pt-4 text-sm text-slate-500">
          <%= timestamp(@note, full: true) %>
        </div>
      </div>
    </div>
  </div>
</article>
