<article class="h-entry py-12 sm:py-8">
  <div class="sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    <div class="py-10 sm:py-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <div class="flex flex-col items-start">
              <div class="e-content prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
                <%= @note.html.html_safe %>
              </div>

              <% if @note.media_attachments.any? %>
                <%= media_gallery_tag(@note.media_attachments.includes(file_attachment: :blob, preview_image_attachment: :blob)) %>
              <% end %>

              <div class="flex flex-wrap justify-between w-full pt-4 text-sm text-slate-500">
                <%= link_to polymorphic_path(@note), class: "u-url flex-shrink text-sm font-bold link-primary flex flex-col justify-center items-center" do %>
                  <%= timestamp(@note.created_at, full: true, classes: ["dt-published"]) %>
                <% end %>

                <%# TODO: render a note's weather %>
                <%# if (icon_url = weather_icon_url(@note)) %>
                  <%# <div class="flex flex-shrink-0"> %>
                    <%# <%= image_tag icon_url, class: "object-scale-down h-8 w-8 mr-2" %>

                    <%# <span class="font-mono flex flex-col justify-center items-center"> %>
                      <%#= (@note.weather["temperatureApparent"] * 1.8 + 32).round °F %>
                    <%# </span>

                    <%# TODO: render a note's neighborhood / city / state (/ country) %>
                    <%# if @note.place.present? %>
                      <%# <span class="font-mono flex flex-col justify-center items-center text-slate-500"> %>
                        <%#= @note.place.name / @note.place.city_state_and_country %>
                      <%# </span> %>
                    <%# end %>
                  <%# </div> %>
                <%# end %>
              </div>

              <div class="hidden">
                <div class="u-author h-card">
                  <%= image_tag "me.jpg", alt: "A photo of me on a horse looking quite dapper.", class: "u-photo" %>
                  <%= link_to "David Celis", root_path, class: "p-name u-url" %>
                </div>

                <% if @note.updated_at != @note.created_at %>
                  <%= timestamp(@note.updated_at, full: true, classes: ["dt-updated"]) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<% content_for(:og_description, strip_tags(@note.html).strip.presence || polymorphic_url(@note)) %>
<% content_for(:og_type, "article") %>
<% content_for(:og_title, "david celis") %>
<% content_for(:og_url, post_url(@note.id)) %>
<% content_for(:head) do %>
  <meta property="og:site_name" content="david celis" data-rh="true">
  <link href="<%= polymorphic_url(@note) %>" rel="alternate" type="application/activity+json" data-rh="true">
<% end %>

<% content_for(:og_image) do %>
  <% @note.media_attachments.each do |media| %>
    <% file = media.preview_image.attached? ? media.preview_image : media.file %>

    <meta property="og:image" content="<%= cdn_file_url(file) %>">
    <meta property="og:image:alt" content="<%= media.description %>">
    <meta property="og:image:type" content="<%= file.content_type %>">
    <meta property="og:image:width" content="<%= file.metadata[:width] %>">
    <meta property="og:image:height" content="<%= file.metadata[:height] %>">
  <% end %>
<% end %>

<% content_for(:og_video) do %>
  <% @note.media_attachments.select(&:video_or_gif?).each do |video| %>
    <meta property="og:video" content="<%= cdn_file_url(video) %>">
    <meta property="og:video:alt" content="<%= video.description %>">
    <meta property="og:video:type" content="<%= video.content_type %>">
    <meta property="og:video:width" content="<%= video.width %>">
    <meta property="og:video:height" content="<%= video.height %>">
  <% end %>
<% end %>

<% content_for(:twitter_card, "summary_large_image") %>
<% content_for(:twitter_image) do %>
  <% if (image = @note.media_attachments.first(&:image?)) %>
    <meta property="twitter:image" content="<%= cdn_file_url(image) %>">
    <meta property="twitter:image:alt" content="<%= image.description %>">
  <% elsif (video = @note.media_attachments.find(&:video_or_gif?)) %>
    <meta property="twitter:image" content="<%= cdn_file_url(video.preview_image) %>">
    <meta property="twitter:image:alt" content="<%= video.description %>">
  <% end %>
<% end %>
