<div class="py-12 sm:py-8">
  <div class="sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    <article class="py-10 sm:py-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <div class="flex flex-col items-start">
              <div class="prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
                <%= @note.html.html_safe %>
              </div>

              <% if @note.media_attachments.any? %>
                <%= media_gallery_tag(@note.media_attachments.includes(file_attachment: :blob, preview_image_attachment: :blob)) %>
              <% end %>

              <div class="pt-4 text-sm text-slate-500">
                <%= timestamp(@note, full: true) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<% content_for(:og_description, strip_tags(@note.html).strip) %>
<% content_for(:og_type, "article") %>

<% if link_preview_requested? %>
  <% content_for(:og_title, "david celis") %>
  <% content_for(:og_url, "https://twitter.com/x/status/x") %>
  <script>window.location.replace("<%= polymorphic_url(@note) %>");</script>
<% else %>
  <% content_for(:og_url, post_url(@note.id)) %>
<% end %>

<% content_for(:og_image) do %>
  <% @note.media_attachments.select(&:image?).each do |image| %>
    <meta property="og:image" content="<%= cdn_file_url(image) %>">
    <meta property="og:image:alt" content="<%= image.description %>">
    <meta property="og:image:type" content="<%= image.content_type %>">
    <meta property="og:image:width" content="<%= image.width %>">
    <meta property="og:image:height" content="<%= image.height %>">
  <% end %>

  <% if link_preview_requested? %>
    <% @note.media_attachments.select(&:video?).each do |video| %>
      <meta property="og:image" content="<%= cdn_file_url(video.preview_image) %>">
      <meta property="og:image:alt" content="<%= video.description %>">
      <meta property="og:image:type" content="<%= video.preview_image.content_type %>">
      <meta property="og:image:width" content="<%= video.preview_image.metadata[:width] %>">
      <meta property="og:image:height" content="<%= video.preview_image.metadata[:height] %>">
    <% end %>
  <% end %>
<% end %>

<% content_for(:og_video) do %>
  <% @note.media_attachments.select(&:video_or_gif?).each do |video| %>
    <meta property="og:video" content="<%= cdn_file_url(video) %>">
    <meta property="og:video:alt" content="<%= video.description %>">
    <meta property="og:video:type" content="<%= video.content_type %>">
    <meta property="og:video:width" content="<%= video.width %>">
    <meta property="og:video:height" content="<%= video.height %>">
  <% end %>
<% end %>

<% content_for(:twitter_image) do %>
  <% if (image = @note.media_attachments.first(&:image?)) %>
    <meta property="twitter:image" content="<%= cdn_file_url(image) %>">
    <meta property="twitter:image:alt" content="<%= image.description %>">
  <% elsif (video = @note.media_attachments.find(&:video_or_gif?)) %>
    <meta property="twitter:image" content="<%= cdn_file_url(video.preview_image) %>">
    <meta property="twitter:image:alt" content="<%= video.description %>">
  <% end %>
<% end %>
