<article class="h-entry note py-10 sm:py-12">
  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <div class="flex flex-col items-start">
          <section class="prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
            Checked in at <strong class="text-slate-600"><%= check_in.place.name %></strong><span class="text-slate-500"> / <%= check_in.place.city_state_and_country %></span>
          </section>

          <% if check_in.html.present? %>
            <section class="prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 prose-blockquote:not-italic mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
              <div class="e-content">
                <blockquote>
                  <%= check_in.html.html_safe %>
                </blockquote>
              </div>
            </section>
          <% end %>

          <% if check_in.media_attachments.any? %>
            <%= media_gallery_tag(check_in.media_attachments) %>
          <% end %>

          <div class="mt-4 flex items-center gap-4">
            <%= link_to polymorphic_path(check_in), class: "u-url flex items-center text-sm font-bold leading-6 link-primary" do %>
              <span class="select-none md:absolute md:-ml-6 mr-2" title="Check-In">
                📍
              </span>
              <%= timestamp(check_in.created_at, classes: ["dt-published"]) %>
            <% end %>

            <div class="hidden">
              <div class="u-author h-card">
                <%= image_tag "me.jpg", alt: "A photo of me on a horse looking quite dapper.", class: "u-photo" %>
                <%= link_to "David Celis", root_path, class: "p-name u-url" %>
              </div>

              <% if check_in.updated_at != check_in.created_at %>
                <%= timestamp(check_in.updated_at, classes: ["dt-updated"]) %>
              <% end %>

              <div class="p-geo">
                <span class="p-latitude"><%= check_in.place.latitude %></span>
                <span class="p-longitude"><%= check_in.place.longitude %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
