<article class="h-entry py-12 sm:py-8">
  <div class="sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    <div class="py-10 sm:py-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <div class="flex flex-col items-start">
              <div class="p-summary prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
                📍 Checked in at <%= link_to @check_in.place.name, @check_in.place.apple_maps_url, target: "_blank", rel: "nofollow noopener noreferrer" %>
                <span class="text-slate-500">/ <%= @check_in.place.city_state_and_country %></span>
              </div>

              <% if @check_in.html.present? %>
                <div class="e-content prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 prose-blockquote:not-italic mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
                  <blockquote>
                    <%= @check_in.html.html_safe %>
                  </blockquote>
                </div>
              <% end %>

              <% if @check_in.media_attachments.any? %>
                <%= media_gallery_tag(@check_in.media_attachments.includes(file_attachment: :blob, preview_image_attachment: :blob)) %>
              <% end %>

              <div class="mt-4">
                <%= link_to @check_in.place.apple_maps_url, class: "relative" do %>
                  <%= image_tag cdn_file_url(@check_in.snapshot), class: "rounded-lg", alt: "A map showing the location of #{@check_in.place.name}." %>

                  <% if (icon_url = weather_icon_url(@check_in)) %>
                    <div class="absolute bottom-2 right-2">
                      <div class="flex flex-shrink-0 bg-white bg-opacity-[.90] px-1 select-none rounded-[.25rem]">
                        <%= image_tag icon_url, class: "object-scale-down h-8 w-8 p-1" %>

                        <span class="flex flex-col justify-center items-center">
                          <%= (@check_in.weather["temperatureApparent"] * 1.8 + 32).round %>°F
                        </span>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="pt-4 text-sm text-slate-500">
                <%= link_to polymorphic_path(@check_in), class: "u-url flex items-center text-sm font-bold leading-6 link-primary" do %>
                  <%= timestamp(@check_in.created_at, full: true, classes: ["dt-published"]) %>
                <% end %>
              </div>

              <div class="hidden">
                <div class="u-author h-card">
                  <%= image_tag "me.jpg", alt: "A photo of me on a horse looking quite dapper.", class: "u-photo" %>
                  <%= link_to "David Celis", root_path, class: "p-name u-url" %>
                </div>

                <% if @check_in.updated_at != @check_in.created_at %>
                  <%= timestamp(@check_in.updated_at, full: true, classes: ["dt-updated"]) %>
                <% end %>

                <div class="p-geo">
                  <span class="p-latitude"><%= @check_in.place.latitude %></span>
                  <span class="p-longitude"><%= @check_in.place.longitude %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>


<% content_for(:og_title, "📍 #{@check_in.place.name} / #{@check_in.place.city_state_and_country}") %>
<% content_for(:og_description, strip_tags(@check_in.html).strip.presence || "David Celis checked in at #{@check_in.place.name}") %>
<% content_for(:og_type, "article") %>
<% content_for(:og_url, post_url(@check_in.id)) %>
<% content_for(:head) do %>
  <meta property="og:site_name" content="david celis" data-rh="true">
  <link href="<%= polymorphic_url(@check_in) %>" rel="alternate" type="application/activity+json" data-rh="true">
<% end %>

<% content_for(:og_image) do %>
  <meta property="og:image" content="<%= cdn_file_url(@check_in.snapshot) %>">
  <meta property="og:image:alt" content="A map with a pin showing the location of <%= @check_in.place.name %>.">
  <meta property="og:image:type" content="<%= @check_in.snapshot.content_type %>">
  <meta property="og:image:width" content="<%= @check_in.snapshot.metadata[:width] %>">
  <meta property="og:image:height" content="<%= @check_in.snapshot.metadata[:height] %>">

  <% @check_in.media_attachments.each do |media| %>
    <% file = media.preview_image.attached? ? media.preview_image : media.file %>

    <meta property="og:image" content="<%= cdn_file_url(file) %>">
    <meta property="og:image:alt" content="<%= media.description %>">
    <meta property="og:image:type" content="<%= file.content_type %>">
    <meta property="og:image:width" content="<%= file.metadata[:width] %>">
    <meta property="og:image:height" content="<%= file.metadata[:height] %>">
  <% end %>
<% end %>

<% content_for(:twitter_card, "summary_large_image") %>
<% content_for(:twitter_image) do %>
  <meta property="twitter:image" content="<%= cdn_file_url(@check_in.snapshot) %>">
  <meta property="twitter:image:alt" content="A map with a pin showing the location of <%= @check_in.place.name %>.">
<% end %>
