<article class="h-entry py-8">
  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="p-name text-2xl font-bold leading-7 link-primary">
          <%= link_to "🔗 #{@link.title}", @link.link_data["url"], target: "_blank", rel: "nofollow noopener noreferrer" %>
        </h1>
      </div>
    </div>
  </div>

  <div class="sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    <div class="py-10 sm:py-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <div class="e-content prose prose-slate prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900 mt-1 text-base leading-7 text-slate-700 lg:prose-lg">
              <%= @link.html.html_safe %>
            </div>

            <%= render partial: "links/preview", locals: { link: @link } %>

            <%= render partial: "posts/complications", locals: { post: @link } %>

            <%= render partial: "posts/meta", locals: { post: @link } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<%= content_for(:og_title, "🔗 #{@link.title}") %>
<%= content_for(:og_description, strip_tags(@link.excerpt).strip) %>
<%= content_for(:og_type, "article") %>
<%= content_for(:og_url, post_url(@link.id)) %>

<% content_for(:og_image) do %>
  <% if @link.preview_image.attached? %>
    <meta property="og:image" content="<%= cdn_file_url(@link.preview_image) %>">
    <meta property="og:image:type" content="<%= @link.preview_image.content_type %>">
    <meta property="og:image:alt" content="A preview image from the shared website">
    <meta property="og:image:width" content="<%= @link.preview_image.blob.metadata[:width] %>">
    <meta property="og:image:height" content="<%= @link.preview_image.blob.metadata[:height] %>">
  <% else %>
    <!-- No og:image -->
  <% end %>
<% end %>

<% content_for(:twitter_image) do %>
  <% if @link.preview_image.attached? %>
    <meta property="twitter:image" content="<%= cdn_file_url(@link.preview_image) %>">
    <meta property="twitter:image:alt" content="A preview image from the shared website">
  <% else %>
    <!-- No twitter:image -->
  <% end %>
<% end %>
