<div class="hidden">
  <div class="u-author h-card">
    <%= image_tag profile_picture_url, alt: profile_picture_alt_text, class: "u-photo" %>
    <%= link_to "David Celis", root_path, class: "p-name u-url" %>
  </div>

  <% if post.updated_at != post.created_at %>
    <%= timestamp(post.updated_at, full: true, classes: ["dt-updated"]) %>
  <% end %>

  <% if (place = post.place) %>
    <div class="p-geo">
      <span class="p-latitude"><%= place.latitude %></span>
      <span class="p-longitude"><%= place.longitude %></span>
    </div>
  <% end %>

  <% post.syndication_links.each do |link| %>
    <%= link_to link.platform, link.url, class: "u-syndication" %>
  <% end %>
</div>
