<div class="h-feed py-12 sm:py-8">
  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="p-name text-2xl font-bold leading-7 text-slate-900">
          <%= link_to request.path, class: "u-url" do %>
            <% case params[:controller] %>
            <% when "posts" %>
              All Posts
            <% when "check_ins" %>
              Check-Ins
            <% else %>
              <%= params[:controller].titleize %>
            <% end %>
          <% end %>
        </h1>
      </div>
    </div>
  </div>

  <div class="sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    <section class="post-list divide-y divide-slate-100">
      <% if authenticated? && params[:controller] == "posts" && @pagy.page == 1 %>
        <%= render "posts/form" %>
      <% end %>

      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>

      <%= render "pagination" %>
    </section>
  </div>
</div>
