<header class="bg-slate-50 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-96 lg:items-start lg:overflow-y-auto lg:overscroll-contain xl:w-[26rem]">
  <div class="relative mx-auto px-4 pb-4 pt-10 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto lg:border-x lg:border-slate-200 lg:py-12 lg:px-8 xl:px-12">
    <%= link_to root_path, class: "relative mx-auto block w-24 overflow-hidden rounded-lg bg-slate-200 shadow-xl shadow-slate-300 sm:rounded-xl lg:w-auto lg:rounded-2xl", aria: {label: "homepage"} do %>
      <%= image_tag "me.jpg", width: 960, height: 960, alt: "A photo of me on a horse looking quite dapper", class: "w-full" %>
      <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-black/10 sm:rounded-xl lg:rounded-2xl"></div>
    <% end %>

    <div class="mt-10 text-center lg:mt-12 lg:text-left">
      <p class="text-xl font-bold text-slate-900">
        <%= link_to "David Celis", root_path %>
      </p>

      <p class="mt-3 text-lg font-medium leading-8 text-slate-500">
        A cowboy coder.
      </p>
    </div>

    <section class="mt-12 hidden lg:block">
      <h2 class="flex items-center font-mono text-sm font-medium leading-7 text-slate-900">
        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5">
          <path d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z" class="fill-violet-300"></path>
          <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z" class="fill-pink-300"></path>
        </svg>
        <span class="ml-2.5">About me</span>
      </h2>

      <p class="mt-2 text-base leading-7 text-slate-700">
        Hey there, I’m David! I’m a staff software engineer at
        <a href="https://firehydrant.com/" class="link-primary" target="_blank">FireHydrant</a>
        (where I write APIs) out in Portland, Ore. (where I drink IPAs). I write about tech
        (rarely), food (often), and whatever else is on my mind.
      </p>
    </section>

    <section class="mt-12 hidden lg:block">
      <h2 class="flex items-center font-mono text-sm font-medium leading-7 text-slate-900">
        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5">
          <path d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z" class="fill-indigo-300"></path>
          <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z" class="fill-blue-300"></path>
        </svg>
        <span class="ml-2.5">Work</span>
      </h2>

      <ol class="mt-6 space-y-4">
        <% Resume::Job.first(4).each do |job| %>
          <li class="flex gap-4">
            <div class="select-none relative flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-slate-800/5 ring-1 ring-slate-900/5">
              <%= image_tag job.image, width: 28, height: 28, class: "h-7 w-7", loading: "lazy", style: "color: transparent;", decoding: "async", data: {nimg: 1} %>
            </div>

            <dl class="flex flex-auto flex-wrap gap-x-2">
              <dt class="sr-only select-none">Company</dt>
              <dd class="w-full flex-none text-sm font-medium text-slate-900"><%= job.name %></dd>
              <dt class="sr-only select-none">Role</dt>
              <dd class="text-xs text-slate-500"><%= job.position %></dd>
              <dt class="sr-only select-none">Date</dt>
              <dd class="ml-auto text-xs text-slate-400" aria-label="July 2021 until Now">
                <time datetime="<%= job.start_date.strftime("%Y-%m-%d") %>"><%= job.start_date.year %></time> <span aria-hidden="true">—</span> <time datetime="<%= (job.end_date || Date.today).strftime("%Y-%m-%d") %>"><%= job.end_date&.year || "Now" %></time>
              </dd>
            </dl>
          </li>
        <% end %>
      </ol>

      <%= link_to asset_path("cv.pdf", skip_pipeline: true), class: "inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-slate-100 font-medium hover:bg-pink-100 active:bg-slate-100 active:text-pink-900/60 link-primary group mt-6 w-full" do %>
        Download CV<svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="h-4 w-4 stroke-pink-500 group-hover:stroke-pink-700 transition group-active:stroke-pink-900"><path d="M4.75 8.75 8 12.25m0 0 3.25-3.5M8 12.25v-8.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      <% end %>
    </section>

    <section class="max-lg:hidden mt-10 lg:mt-12">
      <h2 class="sr-only flex items-center font-mono text-sm font-medium leading-7 text-slate-900 lg:not-sr-only">
        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5">
          <path d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z" class="fill-fuchsia-300"></path>
          <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z" class="fill-purple-300"></path>
        </svg>
        <span class="ml-2.5">Follow me</span>
      </h2>

      <div class="h-px bg-gradient-to-r from-slate-200/0 via-slate-200 to-slate-200/0 lg:hidden"></div>

      <%= render "social_links", class: "mt-4 flex justify-center gap-10 text-base font-medium leading-7 text-slate-700 sm:gap-8 lg:flex-col lg:gap-4" %>
    </section>
  </div>
</header>
