<div class="max-lg:absolute max-lg:top-0 max-lg:right-0 max-w-7xl lg:px-8">
  <div class="lg:max-w-4xl">
    <div class="relative p-4">
      <div class="mx-auto lg:max-w-2xl xl:max-w-5xl">
        <div class="relative flex justify-center">
          <div data-controller="reveal" data-action="keydown.esc@window->reveal#hide" class="pointer-events-auto lg:hidden">
            <button data-action="click->reveal#show keydown.esc@window->reveal#hide" data-reveal-target="button" type="button" aria-expanded="false" aria-controls="nav-popup" aria-haspopup="menu" class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-slate-800 shadow-lg shadow-slate-800/5 ring-1 ring-slate-900/5 backdrop-blur">
              Menu
              <svg viewBox="0 0 8 6" aria-hidden="true" class="ml-3 height-auto w-2 stroke-slate-500 group-hover:stroke-slate-700"><path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </button>

            <div id="nav-popup" data-reveal-target="item" data-turbo-temporary="true" class="hidden">
              <div data-action="click->reveal#hide" class="fixed inset-0 z-[25] height-screen w-screen bg-slate-800/40 backdrop-blur-sm opacity-100" aria-hidden="true"></div>
              <div class="fixed inset-x-4 top-8 z-[50] origin-top rounded-3xl bg-white p-8 ring-1 ring-slate-900/5 opacity-100 scale-100" tabindex="-1">
                <div class="flex flex-row-reverse items-center justify-between">
                  <button data-action="click->reveal#hide" aria-label="Close menu" class="-m-1 p-1" type="button" tabindex="0">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 text-slate-500"><path d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                  </button>

                  <h2 class="text-sm font-medium text-slate-600">Navigation</h2>
                </div>

                <nav class="mt-6">
                  <ul class="-my-2 divide-y divide-slate-100 text-base text-slate-800">
                    <li>
                      <%= link_to about_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true" class="select-none">🧑‍💻 </span>About
                      <% end %>
                    </li>
                    <li>
                      <%= link_to posts_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true" class="select-none">🗃️ </span>All Posts
                      <% end %>
                    </li>
                    <li>
                      <%= link_to articles_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true" class="select-none">📝 </span>Articles
                      <% end %>
                    </li>
                    <li>
                      <%= link_to notes_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true" class="select-none">✏️ </span>Notes
                      <% end %>
                    </li>
                    <li>
                      <%= link_to photos_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true">📷 Photos
                      <% end %>
                    </li>
                    <li>
                      <%= link_to check_ins_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true" class="select-none">📍 </span>Check-Ins
                      <% end %>
                    </li>
                    <li>
                      <%= link_to links_path, class: "block py-2 transition link-primary font-bold" do %>
                        <span aria-hidden="true" class="select-none">🔗 </span>Links
                      <% end %>
                    </li>
                    <li>
                      <form id="search" class="mt-2 relative max-w-sm" data-controller="search" data-action="search#submit:prevent">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                          <span aria-hidden="true" class="text-center h-6 w-6 ml-1 pl-1">🔎</span>
                        </div>

                        <input type="text" data-action="input->search#toggleClear" data-search-target="query" value="<%= params[:q] %>" class="w-full pl-8 pr-7 border border-slate-300 rounded-md shadow-sm focus:ring-pink-500 focus:border-pink-500 block sm:text-sm" placeholder="Search my posts!" aria-label="Search" />

                        <div class="absolute inset-y-0 right-0 flex items-center">
                          <button type="button" data-search-target="clear" data-action="search#clear" class="h-6 w-6 mr-1<%= " hidden" unless params[:q] %>" title="Clear search" aria-label="Clear search">
                            ❌
                          </button>
                        </div>

                        <input type="submit" class="hidden" />
                      </form>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

          <nav class="hidden lg:block">
            <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-slate-800 shadow-lg shadow-slate-800/5 ring-1 ring-slate-900/5 backdrop-blur">
              <li><%= link_to "About", about_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
              <li><%= link_to "All Posts", posts_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
              <li><%= link_to "Articles", articles_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
              <li><%= link_to "Notes", notes_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
              <li><%= link_to "Photos", photos_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
              <li><%= link_to "Check-Ins", check_ins_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
              <li><%= link_to "Links", links_path, class: "relative block px-3 py-2 transition link-primary font-bold" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
