<!DOCTYPE html>
<html>
  <head>
    <title>davidcel.is</title>
    <meta name="description" content="Short posts from a cowboy coder.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://cdn.fontshare.com" crossOrigin="anonymous"/>
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap"/>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <script src="https://kit.fontawesome.com/3164e3a448.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-white antialiased">
    <%= render "header" %>

    <main class="border-t border-slate-200 lg:relative lg:ml-96 lg:border-t-0 xl:ml-[26rem]">
      <%= render "waveform" %>
      <%= render "navigation" %>

      <div class="relative">
        <%= yield %>
      </div>
    </main>

    <%= render "footer" %>
  </body>
</html>
