<!DOCTYPE html>
<html>
  <head>
    <title>davidcel.is</title>
    <meta name="description" content="Short posts from a cowboy coder.">

    <%= auto_discovery_link_tag(:atom, feed_url, title: "Atom Feed") %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://cdn.fontshare.com" crossOrigin="anonymous"/>
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap"/>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <%= content_for(:head) %>
  </head>

  <body class="bg-white antialiased">
    <%= render "header" %>

    <main class="border-t border-slate-200 lg:relative lg:ml-96 lg:border-t-0 xl:ml-[26rem]">
      <%= render "waveform" %>
      <%= render "navigation" %>

      <div class="relative">
        <div class="py-12 sm:py-8">
          <div class="lg:px-8">
            <div class="lg:max-w-4xl">
              <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                <h1 class="text-2xl font-bold leading-7 text-slate-900"><%= content_for(:page_title) %></h1>
                <%= content_for(:post_timestamp) %>
              </div>
            </div>
          </div>

          <div class="divide-y divide-slate-100 sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <%= render "footer" %>
  </body>
</html>
