<!DOCTYPE html>
<html>
  <head>
    <title>davidcel.is</title>
    <meta name="description" content="Lukewarm takes from an amateur pizzaiolo and software engineer.">

    <%= auto_discovery_link_tag(:atom, main_feed_url, title: "davidcel.is") %>
    <%= auto_discovery_link_tag(:atom, articles_feed_url, title: "davidcel.is - Articles") %>
    <%= auto_discovery_link_tag(:atom, check_ins_feed_url, title: "davidcel.is - Check-ins") %>
    <%= auto_discovery_link_tag(:atom, links_feed_url, title: "davidcel.is - Links") %>
    <%= auto_discovery_link_tag(:atom, notes_feed_url, title: "davidcel.is - Notes") %>
    <%= auto_discovery_link_tag(:atom, photos_feed_url, title: "davidcel.is - Photos") %>
    <%= auto_discovery_link_tag(:atom, all_feed_url, title: "davidcel.is - All Posts") %>

    <link rel="webmention" href="<%= webmention_url %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://cdn.fontshare.com" crossOrigin="anonymous"/>
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap"/>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "prism", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "prism", "data-turbo-track": "reload" %>

    <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/themes/light.css" rel="stylesheet">

    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <%= content_for(:head) %>

    <meta property="og:title" content="<%= content_for(:og_title) || "davidcel.is" %>">
    <meta property="og:description" content="<%= content_for(:og_description) || "Lukewarm takes from an amateur pizzaiolo and software engineer." %>">
    <meta property="og:type" content="<%= content_for(:og_type) || "website" %>">
    <meta property="og:url" content="<%= content_for(:og_url) || request.original_url %>">

    <%= content_for(:og_image) %>
    <%= content_for(:og_video) %>

    <meta name="twitter:card" content="<%= content_for(:twitter_card) || "summary" %>">
    <meta name="twitter:site" content="@davidcelis">
    <meta name="twitter:creator" content="@davidcelis">
    <meta name="twitter:title" content="<%= content_for(:og_title) || "davidcel.is" %>">
    <meta name="twitter:description" content="<%= content_for(:og_description) || "Lukewarm takes from an amateur pizzaiolo and software engineer." %>">
    <%= content_for(:twitter_image) %>

    <% if Rails.env.production? && !authenticated? %>
      <script defer data-domain="davidcel.is" src="https://pls.davidcel.is/js/script.js"></script>
    <% end %>
  </head>

  <body class="bg-white antialiased">
    <%= render "header" %>

    <%= render "flash" %>

    <main class="border-t border-slate-200 lg:relative lg:ml-96 lg:border-t-0 xl:ml-[26rem]">
      <%= render "waveform" %>
      <%= render "navigation" %>

      <div class="relative">
        <%= yield %>
      </div>
    </main>

    <%= render "footer" %>
  </body>
</html>
